#soul{
   text-align: center;
font-family: 'Great Vibes', cursive;
}

#container-text{
    margin-top:200px;
    opacity: 0.8;
}

#navigation{
    margin-top:-600px;
    font-size:20px;
    opacity:0.8;
}

#jumbo-logo{
    font-family: 'Great Vibes', cursive;
}

body{
    font-family: 'Quicksand', sans-serif;
}

#container{
  margin-top:590px;
  }

#git-logo{
    margin-left:620px;
}

#fade{
    animation-duration:4s;
}
 

body {
  background: url(IMG_1928.PNG) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

#copyright{
    color:white;
}