<body class="animated fadeIn" id="fade">
    <div class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation">

            <a class="navbar-brand" href="/" id="logo">Soul Stretch</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/music">Music</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/soulstretch">Soul Stretch</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/breathworks">BreathWorks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/spotify">
                            <img src="images/Spotify_Icon_RGB_Green.png" class="mr-3" alt="spotify logo" id="spotify"
                                height=21px></a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>






























    <!-- Footer -->
    <div id="container">
        <footer class="page-footer font-small blue pt-4">

            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-6 mt-md-0 mt-3">

                        <!-- Content -->

                    </div>

                </div>
                <!-- Grid column -->



            </div>
            <!-- Grid row -->

    </div>
    <!-- just dividing the contents -->

    <div id="footer">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation-2">
            <span id="copyright">© 2019 Copyright:</span>
            <a href="https://github.com/LAyers45/project-2">
                <img src="/images/GitHub_Logo.png" class="mr-3" alt="github logo" width="200" height="60" id="git-logo">
            </a>



        </nav>
    </div>


    <div class="card-deck">
        <div class="card">
            <img src="/images/logan.jpg" class="card-img-top" alt="logan">
            <div class="card-body">
                <h5 class="card-title">Logan Ayers</h5>
                <p class="card-text">
                    Project Coordinator, Lead JS Designer</p>

                <a href="https://github.com/LAyers45" class="btn btn-primary">Github</a>
            </div>

        </div>
        <div class="card">
            <img src="/images/landon.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Landon Evans</h5>
                <p class="card-text"> Full Stack Engineer, specialized in front end technologies and design
                </p>
                <a href="https://github.com/17landonjuan" class="btn btn-primary">Github</a>
            </div>

        </div>

    </div>
    <!----STOP----->







    <div class="card-deck" id="deck">
        <div class="card">
            <img src="/images/ali.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Ali Alani</h5>
                <p class="card-text"> Ali Alani is an operation supervisor at UPS, small business consultant and working
                    on becoming a full-stack developer.</p>
                <a href=" https://github.com/aalani3" class="btn btn-primary">Github</a>
            </div>

        </div>
        <div class="card">
            <img src="/images/bj2.JPG" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Fullstack engineer in the making. specialization in front end design.</p>
                <a href="https://github.com/jmurry2014" class="btn btn-primary">Github</a>
            </div>

        </div>

    </div>











    <!----STOP----->

    </div>





















</body>