<body class="animated fadeIn" id="fade">
    <div class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation">

            <a class="navbar-brand" href="/" id="logo">Soul Stretch</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="images/Spotify_Icon_RGB_Green.png" class="mr-3" alt="spotify logo" id="spotify"
                                height=21px></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/music">Music</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/soulstretch">Soul Stretch</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/breathworks">BreathWorks</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <div class="card-deck" id="soulstretch">
        <div class="card">
            <img src="/images/nicolas-j-leclercq-Lkr2jWsmapA-unsplash.jpg" class="card-img-top" alt="..." height="300px"
                width:"400px">
            <div class="card-body">
                <h5 class="card-title">Soul Stretch</h5>
                <p class="card-text"> >We all breathe, true fact. Wouldnt it be nice to get a little more out of
                    each life sustaining gulp of air? Breathworks utilizes breathing techniques passed down for
                    centuries by Hindu Shamans through Pranayama yoga, to relieve anxiety, focus the mind, find
                    inspiration, literally whatever you might need to feel spiritually, emotionally, or socially at
                    peace.
                    When combined with
                    music it can evoke powerful sensations, emotions, feelings, & inspiration. You never quite
                    know what journey it will take you on, but the outcome is always awesome.

                    It employs a two-part breath. First breathe into your belly, then your chest, then out.
                    Belly, chest, out. Belly, chest, out. Start slow and focus on finding a rythm with your
                    breath. This is called the 'Ujayii', or ocean breath. Your breathing should resemble a wave
                    crashing into the shore and then returning back into the depths of the sea.

                    Once youve found your rythm, slowly increase the rate of your breathing over the next 6-8
                    minutes until you feel you are breathinng at about 50% of your capacity. This is where you
                    will really begin pushing yourself harder and harder, increasing your rate another 25% over
                    the next 3-5 minutes. Now give it everything youve got! Don't let yourself slow down and
                    give it your all! Breathing at 100% for the next 5 minutes. Hit that peak and then slowly
                    begin to decrease your breathing. Picture yourself descending a mountain. Once you ahve
                    reached your normal breathing rate, take in a large breath through your nose and hold it for
                    10 seconds. Slowly exhale through your mouth until you are out of breath then repeat this a
                    few more times until your body begins to feel completely relaxed. Congratulations! You made
                    it! Now enjoy the fruits of all that effort.

                    It works simply through altering the gas exchange within your lungs. When done correctly it
                    activates your Pineal gland producing some amazing effects and experiences that will vary
                    every time.


                    .</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>











    <!-- Footer -->
    <div id="container">
        <footer class="page-footer font-small blue pt-4">

            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-6 mt-md-0 mt-3">

                        <!-- Content -->

                    </div>

                </div>
                <!-- Grid column -->



            </div>
            <!-- Grid row -->

    </div>
    <!-- just dividing the contents -->

    <div id="footer">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation-2">
            <span id="copyright">© 2019 Copyright:</span>
            <a href="https://github.com/LAyers45/project-2">
                <img src="/images/GitHub_Logo.png" class="mr-3" alt="github logo" width="200" height="60" id="git-logo">
            </a>



        </nav>
    </div>














    <!----STOP----->

    </div>





















</body>