<body class="animated fadeIn" id="fade">
    <div class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation">

            <a class="navbar-brand" href="/" id="logo">Soul Stretch</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="images/Spotify_Icon_RGB_Green.png" class="mr-3" alt="spotify logo" id="spotify"
                                height=21px></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/music">Music</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/soulstretch">Soul Stretch</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/breathworks">BreathWorks</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>



    <div class="card-deck" id="soulstretch">
        <div class="card">
            <img src="/images/nicolas-j-leclercq-Lkr2jWsmapA-unsplash.jpg" class="card-img-top" alt="..." height="300px"
                width:"400px">
            <div class="card-body">
                <h5 class="card-title">Soul Stretch</h5>
                <p class="card-text"> Soul Stretch. What is it? To put it simply, it’s like combining pilates and yoga
                    into a body weight workout. It starts with a light warm up of some basic stretches which will help
                    you identify some of your body's 'trouble' spots that you may not have been aware of. Once you feel
                    like you've stretched out enough, you are then ready to begin the Soul Stretch workout which will
                    leave you feeling amazing and loosey goosey. First youre going to choose one of those 'trouble'
                    spots you
                    identified or any other tension you feel in your body. Begin by slowly massaging the area, trying to
                    figure out
                    where that tightness begins and ends and at what angle it wants to stretch out. One great benefit of
                    this exercise is that you are going to become
                    extremely in tune with your body and what it needs, how it's feeling, and eventually begin to learn
                    how to isolate specific muscles while you stretch. Once you’ve figured out where that tension is, or
                    in other words which direction its pulling in,
                    slowly begin by stretching it back and forth and at different angles. Your body will tell you when
                    you're pulling in the right place. This is why it's so important to shut everything else out of your
                    mind and focus on you.
                    Once you start to feel some relief, you'll notice that the other effect of
                    stretching that muscle back and forth repeatedly and deliberately is that you are cultivating
                    tension that is then going to be
                    used to continue that first simple stretch in whatever direction your body needs it. Think of it
                    like your body is a generator and you are creating a ball of energy that is going to power through
                    your body and help recharge you. For example you
                    could start by stretching out your shoulder and then that built up tension might start creeping back
                    towards your spine and up into your neck and then back down into your hips knees and eventually your
                    feet
                    where it is then released. The next thing you know your whole body is nice and relaxed and you are
                    completely exhausted and drenched in sweat. Any
                    stress you were feeling seems to have melted away, and you feel like you are lighter than air
                    gliding through the world.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>



        <!-- Footer -->
        <div id="container">
            <footer class="page-footer font-small blue pt-4">

                <!-- Footer Links -->
                <div class="container-fluid text-center text-md-left">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-6 mt-md-0 mt-3">

                            <!-- Content -->

                        </div>

                    </div>
                    <!-- Grid column -->



                </div>
                <!-- Grid row -->

        </div>
        <!-- just dividing the contents -->

        <div id="footer">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation-2">
                <span id="copyright">© 2019 Copyright:</span>
                <a href="https://github.com/LAyers45/project-2">
                    <img src="/images/GitHub_Logo.png" class="mr-3" alt="github logo" width="200" height="60"
                        id="git-logo">
                </a>



            </nav>
        </div>



    </div>





















</body>