<body id="spotify-body">
    <main class="main-container-spotify">
        <section>
            <div class="form-spotify">

                <form action="">
                    <input type="search" value="">
                    <input type="submit" value="Search">
                </form>

            </div>
            <div class="playlist">
                <div class="loader">
                    <div class="inner-circle"></div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="spotify-api.js"></script>
</body>