<body class="animated fadeIn" id="fade">
    <div class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation">

            <a class="navbar-brand" href="/" id="logo">Soul Stretch</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="images/Spotify_Icon_RGB_Green.png" class="mr-3" alt="spotify logo" id="spotify"
                                height=21px></a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Music</h5>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <p class="card-text">Regardless of who you are, you have an innate connection with music. music
                            literally has the power to conjure emotions within humans, it MAKES us feel. In so doing it
                            allows the expression of the unique emotions we all feel yet are unable to convey because
                            trying to explain them to others or sometimes even our selves makes us sound like we should
                            be locked away in an asylum! When the truth of that feeling is really a symphony within our
                            soul.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Soul Stretch</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Actively combines breathworks, music , & stretching to
                            not only aleviate pain but to also relieve stress and unlock obstructed nerve pathways
                            within your body.</h6>
                        <p class="card-text">Soul Stretch. What is it? To put it simply, it’s like combining pilates and
                            yoga conbined into a body weight workout that starts with a single simple stretch and turns
                            into a full body workout that will leave you feeling amazing and loosey goosey. I started
                            doing this just randomly one day sitting on my floor just trying to stetch out my hamstrings
                            and over the course of the following 2 months it turned into an everyday thing that has me
                            feeling the best ive ever felt in my entire life. First youre going to find any tension you
                            feel in your body. Begin by slowly massaging the area, trying to figure out where that
                            tightness begins and ends and at what angle it wants to stretch out. Another great benefit
                            of this exercise is that you are going to become extremely in tune with your body and what
                            it needs, how its feeling, and eventually begin to learn how to isolate specific muscles
                            while you stretch. Once you’ve figured out where that tension is slowly begin by stretching
                            it back and forth and at different angles, your body will tell you when your stretching at
                            the right angles and youll start to feel some relief. The other effect of stretching that
                            muscle back and forth is that you are cultivating tension that is then going to be used to
                            continue that first simple stretch in whatever direction your body needs it. For example you
                            could start by stretching out your shoulder and then that built up tension might start
                            creeping back towards your spine and up into your neck and then back down into your hips
                            knees and eventually feet where it is then released and then next thing you know your whole
                            body is nice and relaxed. Any stress you were feeling seems to have melted away, and you
                            feel like you are lighter than air on your feet.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Breath Works</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Breathing, Elevated</h6>
                        <p class="card-text">we all breathe, true fact. wouldnt it be nice to get a little more outta
                            each life sustaining gulp of air. breathworks utilizes breathing techniques passed down for
                            centuries by Hindu Shamans to relieve anxiety, focus the mind, find inspiration, literally
                            whatever you need to feel spiritually emotionally or socially at peace. when combined with
                            music can evoke powerful sensations, emotions, feelings, inspiration, you never quite know
                            what journey it will take you on but the outcome is always awesome.

                            It works simply through altering the gas exchange within your lungs.

                            you begin lying down with your arms lain at your sides, palms up, slightly extended out to
                            the sides, feet shoulder width apart pointing out at an angle. your body should be and feel
                            open as if you were in the act of receiving so as to promote the natural flow of energy
                            through your body.
                            .</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>

        </div>
    </div>






























    <!-- Footer -->
    <div id="container">
        <footer class="page-footer font-small blue pt-4">

            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-6 mt-md-0 mt-3">

                        <!-- Content -->

                    </div>

                </div>
                <!-- Grid column -->



            </div>
            <!-- Grid row -->

    </div>
    <!-- just dividing the contents -->

    <div id="footer">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation-2">
            <span id="copyright">© 2019 Copyright:</span>
            <a href="https://github.com/LAyers45/project-2">
                <img src="/images/GitHub_Logo.png" class="mr-3" alt="github logo" width="200" height="60" id="git-logo">
            </a>



        </nav>
    </div>


    <div class="card-deck">
        <div class="card">
            <img src="/images/nicolas-j-leclercq-Lkr2jWsmapA-unsplash.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, in saepe dolores
                    nisi
                    sunt placeat nihil consectetur impedit eligendi at autem dicta aut mollitia animi dolore culpa.
                    Voluptates, voluptatum quo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit tenetur
                    unde sit enim voluptates tempore est. Ea sint, eos unde molestiae modi natus omnis doloribus dolorem
                    enim earum excepturi veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
                    praesentium ut, quidem impedit tempore amet soluta minus at veniam fuga rem commodi quae nesciunt
                    quaerat quasi iure? Eveniet, assumenda itaque.</p>

                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>

        </div>
        <div class="card">
            <img src="/images/vincent-van-zalinge-mnS6N54IOfE-unsplash.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>

        </div>

    </div>
    <!----STOP----->







    <div class="card-deck" id="deck">
        <div class="card">
            <img src="/images/nicolas-j-leclercq-Lkr2jWsmapA-unsplash.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi similique
                    corporis
                    sed modi sequi. Non eius inventore nulla fugiat amet, tempore dignissimos aliquam fuga, eligendi
                    necessitatibus atque, et natus ex! Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
                    ut,
                    numquam qui perspiciatis blanditiis obcaecati sapiente tempore itaque? Soluta quaerat, cum possimus
                    necessitatibus illum vero cumque sit aliquid ipsum sequi. Lorem ipsum dolor sit amet consectetur,
                    adipisicing elit. Quisquam est, alias libero quasi quos, laborum cum incidunt inventore neque
                    sapiente
                    nulla autem perspiciatis labore numquam pariatur! Molestias iste officia dolor.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>

        </div>
        <div class="card">
            <img src="/images/vincent-van-zalinge-mnS6N54IOfE-unsplash.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <a href="/" class="btn btn-primary">Go somewhere</a>
            </div>

        </div>

    </div>











    <!----STOP----->

    </div>





















</body>