<body class="animated fadeIn" id="test">


  <div class="jumbotron jumbotron-fluid" id="contain">
    <div class="container">
      <div class="animated fadeIn" id="animation">
        <h1 class="display-4" id='soul'>Soul Stretch</h1>
      </div>
      <p class="lead">Juicy meatballs brisket slammin' baked shoulder. Juicy smoker soy sauce burgers brisket. polenta
        mustard hunk greens. Wine technique snack skewers chuck excess. Oil heat slowly. slices natural delicious, set
        aside magic tbsp skillet, bay leaves brown centerpiece. fruit soften edges frond slices onion snack pork steem
        on wines excess technique cup; Cover smoker soy sauce fruit snack. Sweet one-dozen scrape delicious, non sheet
        raw crunch mustard. Minutes clever slotted tongs scrape, brown steem undisturbed rice.
      </p>


    </div>
  </div>


  <!-- just dividing the contents -->
  <div class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation">

      <a class="navbar-brand" href="#" id="logo">Soul Stretch</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="images/Spotify_Icon_RGB_Green.png" class="mr-3" alt="spotify logo" id="spotify" height=21px></a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
  <!-- just dividing the contents -->

  <!-- Footer -->
  <div id="container">
    <footer class="page-footer font-small blue pt-4">

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->

          </div>

        </div>
        <!-- Grid column -->



      </div>
      <!-- Grid row -->

  </div>
  <!-- just dividing the contents -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" id="copyright">© 2019 Copyright:
    <a href="https://github.com/LAyers45/project-2">
      <div class="media">
        <img src="images/GitHub_Logo_White.png" class="mr-3" alt="github logo" width="200" height="60" id="git">
    </a>
  </div>
  <!-- Copyright -->

  </footer>
  </div>



</body>