<body class="animated fadeIn" id="fade">


  <div class="jumbotron jumbotron-fluid" id="container-text">
    <div class="container">
      <div class="animated fadeIn" id="animation">
        </div>
        <p class="lead">Soul Stretch is a three pronged program composing a unique method of stretching and relaxation.
          We
          combine the power of music and an ancient breathing exercise of Pranayama yoga, passed down for centuries by
          Indian Shamans, called the Ujayii, or "ocean", breath. Using Spotify you are able to find your favorite songs
          and playlists to help motivate and inspire you. Soul Stretch will provide you with an intense but easy to do
          workout using just your body weight and will increase your flexibility to levels you never thought possible!
        </p>


      </div>
    </div>

    <!-- just dividing the contents -->
    <div class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation">

        <a class="navbar-brand" href="/" id="logo">Soul Stretch</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <img src="images/Spotify_Icon_RGB_Green.png" class="mr-3" alt="spotify logo" id="spotify"
                  height=21px></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/music">Music</a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/soulstretch">Soul Stretch</a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/breathworks">BreathWorks</a>
            </li>

          </ul>
        </div>
      </nav>
    </div>
    <!-- just dividing the contents -->

    <!-- Footer -->
    <div id="container">
      <footer class="page-footer font-small blue pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

              <!-- Content -->

            </div>

          </div>
          <!-- Grid column -->

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- just dividing the contents -->

    <div id="footer">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation-2">
        <span id="copyright">© 2019 Copyright:</span>
        <a href="https://github.com/LAyers45/project-2">
          <img src="/images/GitHub_Logo.png" class="mr-3" alt="github logo" width="200" height="60" id="git-logo">
        </a>


      </nav>
    </div>


    <form>
      <div class="loginForm">
        <div class="form-group">
          <div class="Login"> Login </div>
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="log-email" aria-describedby="log-email-form"
            placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="log-password" aria-describedby="log-password-form"
            placeholder="Password">
          <small id="passwordHelp" class="form-text text-muted">Password must be at least 5 characters.</small>
        </div>
        <button type="button" id="logInBttn" class="btn btn-primary">Submit</button>
        <div class="signup-button">
          <small id="disclaimerText" class="form-text text-muted">Don't have an account?</small>
          <button type="button" id="swapToSignup" class="btn btn-primary">Sign up</button>
        </div>
      </div>


  <div class="signInForm"style = "display:none;">
    <div class="form-group">
      <div class="Login"> Sign Up </div>
        <label for="sign-email">Email address</label>
        <input type="email" class="form-control" id="sign-email" aria-describedby="sign-email-form" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="sign-password">Password</label>
        <input type="password" class="form-control" id="sign-password" aria-describedby="sign-password-form" placeholder="Create a Password">
        <small id="passwordHelp" class="form-text text-muted">Password must be at least 5 characters.</small>
      </div>
      <div class="form-group">
        <label for="sign-username">Username</label>
        <input type="email" class="form-control" id="sign-username" aria-describedby="sign-username-form" placeholder="Create a Username">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
        <button type="button" id="signUpBttn" class="btn btn-primary">Submit</button>
        <div class="signup-button">
          <small id="disclaimerText" class="form-text text-muted">Already have an account?</small>
          <button type="button" id="swapToLogIn" class="btn btn-primary">Log in</button>
        </div>


    </form>













</body>