<body class="animated fadeIn" id="fade">
    <div class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation">

            <a class="navbar-brand" href="/" id="logo">Soul Stretch</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="images/Spotify_Icon_RGB_Green.png" class="mr-3" alt="spotify logo" id="spotify"
                                height=21px></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/music">Music</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/soulstretch">Soul Stretch</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/breathworks">BreathWorks</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>



    <div class="container" id="music">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Music</h5>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <p class="card-text">Regardless of who you are, you have an innate connection with music. Music
                            literally has the power to conjure emotions within humans, it MAKES us feel. In so doing it
                            allows the expression of the unique emotions we all feel yet are unable to convey because
                            trying to explain them to others or sometimes even our selves makes us sound like we should
                            be locked away in an asylum! When the truth of that feeling is really a symphony within our
                            soul. Through our site you will be able to access Spotify and have some of your favorite
                            playlists readily available for you. This will help you to relax and also motivate you
                            through your
                            workout. </p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>


            <!-- Footer -->
            <div id="container">
                <footer class="page-footer font-small blue pt-4">

                    <!-- Footer Links -->
                    <div class="container-fluid text-center text-md-left">

                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-6 mt-md-0 mt-3">

                                <!-- Content -->

                            </div>

                        </div>
                        <!-- Grid column -->



                    </div>
                    <!-- Grid row -->

            </div>
            <!-- just dividing the contents -->

            <div id="footer">
                <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation-2">
                    <span id="copyright">© 2019 Copyright:</span>
                    <a href="https://github.com/LAyers45/project-2">
                        <img src="/images/GitHub_Logo.png" class="mr-3" alt="github logo" width="200" height="60"
                            id="git-logo">
                    </a>



                </nav>
            </div>



        </div>





















</body>