<body class="animated fadeIn" id="fade">
    <div class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation">

            <a class="navbar-brand" href="/" id="logo">Soul Stretch</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="images/Spotify_Icon_RGB_Green.png" class="mr-3" alt="spotify logo" id="spotify"
                                height=21px></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/music">Music</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/soulstretch">Soul Stretch</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/breathworks">BreathWorks</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>






























    <!-- Footer -->
    <div id="container">
        <footer class="page-footer font-small blue pt-4">

            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-6 mt-md-0 mt-3">

                        <!-- Content -->

                    </div>

                </div>
                <!-- Grid column -->



            </div>
            <!-- Grid row -->

    </div>
    <!-- just dividing the contents -->

    <div id="footer">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation-2">
            <span id="copyright">© 2019 Copyright:</span>
            <a href="https://github.com/LAyers45/project-2">
                <img src="/images/GitHub_Logo.png" class="mr-3" alt="github logo" width="200" height="60" id="git-logo">
            </a>



        </nav>
    </div>


    <div class="card-deck">
        <div class="card">
            <img src="/images/nicolas-j-leclercq-Lkr2jWsmapA-unsplash.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, in saepe dolores
                    nisi
                    sunt placeat nihil consectetur impedit eligendi at autem dicta aut mollitia animi dolore culpa.
                    Voluptates, voluptatum quo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit tenetur
                    unde sit enim voluptates tempore est. Ea sint, eos unde molestiae modi natus omnis doloribus dolorem
                    enim earum excepturi veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
                    praesentium ut, quidem impedit tempore amet soluta minus at veniam fuga rem commodi quae nesciunt
                    quaerat quasi iure? Eveniet, assumenda itaque.</p>

                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>

        </div>
        <div class="card">
            <img src="/images/vincent-van-zalinge-mnS6N54IOfE-unsplash.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>

        </div>

    </div>
    <!----STOP----->







    <div class="card-deck" id="deck">
        <div class="card">
            <img src="/images/nicolas-j-leclercq-Lkr2jWsmapA-unsplash.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi similique
                    corporis
                    sed modi sequi. Non eius inventore nulla fugiat amet, tempore dignissimos aliquam fuga, eligendi
                    necessitatibus atque, et natus ex! Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
                    ut,
                    numquam qui perspiciatis blanditiis obcaecati sapiente tempore itaque? Soluta quaerat, cum possimus
                    necessitatibus illum vero cumque sit aliquid ipsum sequi. Lorem ipsum dolor sit amet consectetur,
                    adipisicing elit. Quisquam est, alias libero quasi quos, laborum cum incidunt inventore neque
                    sapiente
                    nulla autem perspiciatis labore numquam pariatur! Molestias iste officia dolor.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>

        </div>
        <div class="card">
            <img src="/images/vincent-van-zalinge-mnS6N54IOfE-unsplash.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <a href="/" class="btn btn-primary">Go somewhere</a>
            </div>

        </div>

    </div>











    <!----STOP----->

    </div>





















</body>